<div class="about">
    <div class="container">
     {# <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>about us</h2>
        <img src="images/6.jpg" class="img-responsive" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
          pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        </p>
      </div>#}

      <div class="col-md-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <h2>Some interesting stats about our group:</h2>
        <ul>
            <li>No. of different players in last 12 games = 150 of which 134 were male and 16 female.</li>
            <li>Average handicap</li>
            <li>
                <ul>
                    <li>Males = 13</li>
                    <li>Females = 20</li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
  </div>